<html>

<head>
    <title>Page Not Found</title>
</head>

</html>
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block body %}
<div class="text-center">
    <h1>Oops! Looks like the page doesn't exist</h1>
    <a href="{{ url_for('code_test') }}">
        <p>Click Here
    </a>To go to the Home Page</p>
</div>
{% endblock %}